body {
  font-family: Helvetica;
  font: size 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  width: 100%;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;

}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Mission Section */

#mission {
  height: 700px;
  padding-top: 70px;
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*ss9qje*_ga*NDE1MDA3ODYxNS4xNjc5OTEyNzE5*_ga_3LRZM6TM9L*MTcwNTkxODg2NC4xNTEuMS4xNzA1OTE4ODk1LjI5LjAuMA..');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

/* Store section */

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}