body {
    font-family: helvetica;
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
}


.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position:fixed;

}
.nav-logo-img {
    height: 50px;
    padding-left: 10px;
}

.nav-list {
    display: flex;
}

a {
    padding-right: 30px;
}